@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Meiryo";
  src: url("/public/meiryo.ttc") format("truetype"); /* 또는 .woff */
  font-weight: normal;
  font-style: normal;
}
