@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Meiryo";
  src: url("/public/meiryo.woff2") format("woff2"),
    url("/public/meiryo.woff") format("woff"),
    url("/public/meiryo.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
